.item-wrap{
	display: inline-block;	
	overflow: hidden;
	height: 237px;
}

.img-item {
	overflow: hidden;
	display: inline-block;
	width: 380px;
	height: 228px;
}

.img-descr{
	text-align: center;
	background-color: #d0112b;
	color: #fff;
	padding: 12px;
	font-size: 18px;
}

.img-item img{
	width: 100%;
}



.item-wrap:hover .img-item img {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

}

.item-wrap:hover .img-descr {
	-webkit-transform: translateY(-106%);
  -moz-transform: translateY(-106%);
  -ms-transform: translateY(-106%);
  -o-transform: translateY(-106%);
  transform: translateY(-106%);
}


.img-descr{
	-webkit-transform: translateY(-106%);
  -moz-transform: translateY(-106%);
  -ms-transform: translateY(-106%);
  -o-transform: translateY(-106%);
  transform: translateY(-106%);
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  -o-transform: translateY(20%);
  transform: translateY(20%);
}