body{
	font-family: Arial;
	color: #333333;
	font-size: 14px;
}

.tabs section {
	display: none;
	background-color: #fff;
	border-top: 1px solid #ddd;
	padding: 15px;
}

.tabs>input {
	display: none;
	position: absolute;
}

.tabs>label {
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f9f9f9;
	border-radius: 3px 3px 0 0;
}


.tabs>label:hover {
	color: #888;
	cursor: pointer;
}

.tabs>input:checked + label {
	color: #006da4;
	background: #fff;
	border-bottom: 1px solid #fff;
}


#tab1:checked~#content-tab1,
#tab2:checked~#content-tab2 {
	display: -webkit-box;
	padding: 50px 30px 0;
}

.ac-container {
	width: 400px;
	color: #55565a;
	font-size: 14px;
	font-weight: 400;
}

.ac-container label {
	line-height: 30px;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	text-align: left;
	border-width: 1px 0px 1px 0px;
	text-transform: uppercase;
	background-image: url(img/arrow-down-grey.png);
	background-repeat: no-repeat;
	-webkit-background-size: 20px;
	background-size: 20px;
	background-position: 300px center;
}

.ac-container input:checked +label{
	border-bottom: none;
}

.ac-container input:checked +label{
	background-image: url(img/arrow-blue.png);
	background-repeat: no-repeat;
	-webkit-background-size: 20px;
	background-size: 20px;
	background-position: 300px center;
	color: #006da4;
	cursor: pointer;
}

.ac-container input:checked +label:hover {
	background-image: url(img/arrow-blue.png);
}

.ac-container input+label:hover{
	color: #006da4;
	cursor: pointer;
	background-image: url(img/arrow-down-blue2.png);
	background-repeat: no-repeat;
	-webkit-background-size: 20px;
	background-size: 20px;
	background-position: 300px center;
}

.ac-container input{
	display: none;
}

.ac-container article {
	overflow: hidden;
	height: 0;
	position: relative;
	z-index: 10;
	-ms-transition: height 0.3s ease-in-out;
	-webkit-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}

.ac-container input:checked~article {
	-ms-transition: height 0.3s ease-in-out;
	-webkit-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
	height: 430px;
}

.ac-container div {
	padding: 5px 25px;
}

.ac-container article .button {
	border: 1px solid #d0112b;
	color: #d0112b;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	text-align: center;
	width: 290px;
	margin: 10px auto;
	border-radius: 50px 50px;
	padding: 6px 5px;
	font-size: 11px;
}

.ac-container article .button:hover {
	background-color: #d0112b;
	color: #fff;
}

.ac-container article img {
	width: 100%;
}

.ac-container div:nth-child(1) input:checked~article {
	height: 390px;
}

.ac-container div:nth-child(2) input:checked~article {
	height: 440px;
}

#content-tab2 .ac-container div:nth-child(2) input:checked~article {
	height: 450px;
}

.ac-container div:nth-child(3) input:checked~article {
	height: 300px;
}

.ac-container div:nth-child(4) input:checked~article {
	height: 300px;
}

.ac-container .inpt-wrap:nth-child(odd){
	background: #f9f9f9;
}

.scheme-wrap-747,
.scheme-wrap-737 {
	width: 600px;
	margin: 0 80px;
}

.scheme-wrap-747 img,
.scheme-wrap-737 img {
	position: relative;
	z-index: 1;
	height: 150px;
}

.scheme-wrap-747,
.scheme-wrap-737 {
	position: relative;
}

.seats-space-737{
	position: relative;
	top: 3.3vw;
	font-size: 9px;
	width: 20px;
	height: 8px;
	background: #006da4;
	border: 0.5px solid white;
	left: 21.5vw;
	z-index: 5;
}

.seats-azone-747 {
	width: 5px;
	height: 5px;
	background: #006da4;
	border: 0.5px solid white;
	z-index: 5;
}

.seats-front-737 {
	position: relative;
	width: 20px;
	height: 8px;
	background: #d0112b;
	top: 3.3vw;
	left: 11vw;
	border: 0.5px solid white;
	z-index: 6;
}

.seats-space-737-wrap,
.seats-front-737-wrap {
	position: absolute;
}

.seats-space-737:nth-child(1),
.seats-space-737:nth-child(2),
.seats-space-737:nth-child(4),
.seats-space-737:nth-child(5),
.seats-front-737:nth-child(1),
.seats-front-737:nth-child(2),
.seats-front-737:nth-child(4),
.seats-front-737:nth-child(5){
	border-bottom: none;
}

.seats-space-737:nth-child(3),
.seats-front-737:nth-child(3){
	margin: 0 0 16px;
}

.opacity {
	opacity: 0.2;
}

.fixedBlock {
	position: fixed;
	background-color: #fff;
	z-index: 10;
	transition:  0.25s ease-in-out;
}

.links-info a {
	color: #006DA4;
	text-decoration: none;
	display: block;
	font-size: 14px;
	margin: 20px 0 0 75px;
	width: fit-content;
}

.links-info a:hover {
	color: #d0112b;
}

.service-available h3 {
	font-family: HeliosExtC;
	margin: 20px 0 0 75px;
	font-weight: 400;
}

.service-available li {
	list-style-type: none;
	margin: 20px 0 0 35px;
}

.service-available li svg {
	width: 15px;
	margin-right: 12px;
}

.chek-service h3 {
	font-family: HeliosExtC;
	margin: 40px 0 0 75px;
	font-size: 21px;
	font-weight: 600;	
	color: #006DA4;
}

.searcher-m {
	border: 1px solid #ccc;
	width: 380px;
	height: 30px;
	display: inline-block;
	border-radius: 50px 50px;
	margin: 20px 0 0 75px;
}

.searcher-m p {
	margin: 6px 0 0 15px;
}

.searcher-m:nth-child(2){
	margin-left: 30px;
}

.button-wrap {
	margin-top: 10px;
}

.seats-descr {
	width: 20px;
	height: 20px;
	background: #000;
	z-index: 2;
}

.seats-space-descr {
	text-transform: uppercase;
	color: #006da4;
	position: relative;
	left: 20.6vw;
	top: 0.5vw;
	font-size: 12px;
}

.seats-front-descr {
	text-transform: uppercase;
	color: #006da4;
	position: relative;
	left: 8.9vw;
	top: 0.5vw;
	font-size: 12px;
} 

.seats-space-descr svg,
.seats-front-descr svg {
	width: 7px;
	display: block;
	z-index: 20;
	position: relative;
	left: 40%;
	margin-bottom: 5px;
}

.seats-azone-747-wrap {
	position: relative;
	top: -7.7vw;
	left: 2vw;
	z-index: 5;
	width: fit-content;
}

.seats-azone-747-wrap:nth-child(3){
	left: 3vw;
	top: -11.6vw;
}

.seats-azone-747-wrap:nth-child(3) .rotate-wrap {
	margin: 0 0 18px;
}

.rotate-wrap {
	margin: 0 0 10px;
}

.rotate-wrap:nth-child(1){
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.rotate-wrap:nth-child(2){
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg);
}


@font-face {
	font-family: 'HeliosExtC';
	src: url("HeliosExtC.otf") format("opentype");
}