@charset utf-8; 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;font-size: 100%;outline: 0 none;vertical-align: baseline;margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing:0;}address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}  a, a:hover,button,button:hover, .anime, .small_btn, .btn:hover .small_btn   {-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;-webkit-transition:all 200ms linear;transition:all 200ms linear;}  button{cursor:pointer;}  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;} 

/*Flex Framework*/ 
.main_flex {
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap;
}

.main_flex__nowrap{
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	flex-flow:row nowrap;
}

.flex__auto {
	flex:auto;
	-webkit-flex:auto;
	-ms-flex:auto;
} 

.flex__jcontent_between {
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

.flex__jcontent_start{
	justify-content:flex-start;
	-webkit-justify-content:flex-start;
}

.flex__jcontent_end{
	justify-content:flex-end;
	-webkit-justify-content:flex-end;
} 

.flex__jcontent_center{
	justify-content:center;
	-webkit-justify-content:center;
} 

.flex__jcontent_around{
	justify-content:space-around;
	-webkit-justify-content:space-around;
} 


.flex__align-items_start{
	align-items:flex-start;
	-webkit-align-items:flex-start;
} 

.flex__align-items_end{
	align-items:flex-end;
	-webkit-align-items:flex-end;
} 

.flex__align-items_baseline{
	align-items:baseline;
	-webkit-align-items:baseline;
} 

.flex__align-items_stretch{
	align-items:stretch;
	-webkit-align-items:stretch;
} 

.flex__align-items_center{
	align-items:center;
	-webkit-align-items:center;
} 

.flex__align-content_flex-start{
	align-content:flex-start;
	-webkit-align-content:flex-start;
} 

.flex__align-content_flex-end{
	align-content:flex-end;
	-webkit-align-content:flex-end;
} 

.flex__align-content_space-between{
	align-content:space-between;
	-webkit-align-content:space-between;
} 

.flex__align-content_center{
	align-content:center;
	-webkit-align-content:center;
} 

.flex__align-content_space-around{
	align-content:space-around;
	-webkit-align-content:space-around;
} 

.flex__align-content_stretch{
	align-content:stretch;
	-webkit-align-content:stretch;
} 

.flex__flex-grow_01{
	flex-grow:1;
	-webkit-flex-grow:1;
} 

.flex__flex-grow_02{
	flex-grow:2;
	-webkit-flex-grow:2;
} 

.flex__flex-grow_03{
	flex-grow:3;
	-webkit-flex-grow:3;
} 

.flex__flex-grow_04{
	flex-grow:4;
	-webkit-flex-grow:4;
}

body {
	background-color: #fbfbfb;
	font-size: 1.2vmax;
	line-height: 1.9vmax;
	color: #323232;
	font-family: Roboto, sans-serif;
}

h2,
h3 {
	text-align: center;
	font-size: 2.5vmax;
	font-weight: 300;
	padding: 1.5vw;
}

#header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 5vh;
	padding-bottom: 5vh;
	color: #fff;
	position: relative;
}

#fill{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	top: 0;
}

.top_header {
	height: 15vh;#
	overflow: hidden;
}

.main-wrap {
	width: 85vw;
	margin: 0 auto;
	position: relative;
}

#logo {
	border: 1px solid #fff;
	padding: 0.5vw 1vw;
	text-decoration: underline;
	line-height: 2vw;
}
#call_order p {
	text-align: center;
}

#call a{
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

#main-logo {
	height: 45vh;
}

#main-logo svg {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: -1vw auto;
}

nav {
	height: 100%;
}

nav ul {
	flex-flow: row;
	display: flex;	
}

nav li {
	list-style-type: none;
	text-transform: uppercase;
	padding: 0 5.5vw;
}

nav li a {
	font-size: 1.3vmax;
	color: #e1e1e1;
	text-decoration: none;
}

nav li:hover {
	transform: scale(1.1, 1.1);
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

nav li a:hover{
	color: #fff;
} 

.modal-box-form {
	text-align: center;
	width: 40vw;
	background-color: #2d2d2d;
	padding: 3vw 5vw 1vw;
	margin: 0 auto;
	margin-top: 15vw;
}

.modal-box-form button {
	right: 30vw;
	top: 15vw;
}

.modal-box-form button:hover {
	color: #000;
}

#service,
#works {
	padding-top: 5vh;
	padding-bottom: 8vh;
}

.service-item {
	width: 33.33%;
	margin: 0 1vw 0 0;
}

.service-item:last-of-type{
	margin: 0;
}

.service-item h3 {
	font-size: 1.2vw;
	text-transform: uppercase;
	letter-spacing: 0.2vw;
	font-weight: 400;
}

.service-item img {
	width: 100%;
}

.service-item p {
	margin-top: 1.3vw;
	font-weight: 100;
	font-size: 1.2vw;
}

.item-descr {
	padding: 0 1vw;
}

#about{
	z-index: 1;
	background-color: #fff;
	position: relative;
	padding: 6.5vw 0 4vw 0;	
}

#about h2 {
	font-size: 2.7vmax;
	height: auto;
}

.about__h2_absolute {
	position: absolute;
	left: 41.56%;
	height: 40vh;	
}

.left_about {
	height: 30vw;
	background-color: #36424e;
	width: 35%;
	position: relative;
	transform: skew(45deg,-48deg);
	left: -15vw;
	z-index: -1;
	top: 5vw;
}

.left_about img {
	width: 100%;
	position: absolute;
	height: 25vw;
}

.wrap-person {
	background-image: url(../img/item3.jpeg);
	background-position: -4vw -1vw;
	-webkit-background-size: cover;
	background-size: cover;
	width: 21vw;
	height: 21vw;
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	top: 14.5vw;
	left: 6.5vw;
	border: 0.5vw solid #fff;
}

.right_about {
	width: 80%;
}

.right_about_wrap	{
	width: 63%;
	margin: 6vw auto;
}

.about_list {
	margin-bottom: 1.5vw;
}

.about_list h4 {
	font-size: 1.1vw;
	text-transform: uppercase;
	font-weight: 400;
}

.about_list p {
	font-weight: 300;
}

.work-item {
	display: none;
	width: 25%;
	position: relative;
}

.work-item img {
	width: 100%;
	height: 100%;
}

.filter_div {
	margin-bottom: 3vw;
}

.filter_div ul li {
	list-style-type: none;
	margin: 0 1vw;
	font-weight: 200;
	cursor: pointer;
}

.active {
	border-bottom: 1px solid #000;
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.work-item-cont {
	position: absolute;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0, 0.7);
	opacity: 0;
	transition: all 0.5s;
	color: #ccc;
	font-weight: 200;
}

.work-item-cont:hover {
	opacity: 1;
}

.work-item-cont h4 {
	text-transform: uppercase;
	color: #fff;
}

.work-item-cont p {
	margin-bottom: 1vw;
}

.work-item-cont a {
	color: #ccc;
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 0.2vw 1vw;
}

.work-item-cont a:hover {
	color: #fff;
	border: 1px solid #fff;
}


.hidden_cont {
	display: none;
}

.work_item_desrc {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0,0,0,.4);
	top: 0;
	left: 0;
	z-index: 3;
}

.modal-box-content {
	width: 55vw;
	background-color: #fff;
	margin: 4vw auto;
}

.work_item_desrc img {
	width: 100%;
	position: relative;
	top: 0.55vw;
}

.modal-box-content button {
	position: relative;
	float: right;
	color: #000;
}

.modal-box-content h3 {
	text-transform: uppercase;
	letter-spacing: 0;
	font-size: 1.95vw;
}

.modal-box-content p {
	padding: 0 1.4vw 1.4vw 1.4vw;
}

#contacts {
	background-color: #2a2a2a;
}

.contact-wrap-map {
	width: 50vw;
	opacity: 0.8;
	transition: opacity 0.5s ease;
}

.contact-wrap-map:hover {
	opacity: 1;
}

.contact-form {
	width: 36vw;
	margin: 0 auto;
	color: #fff;
}

.contact-form h4 {
	text-align: center;
	font-size: 1.45vw;
	font-weight: 300;
	text-transform: uppercase;
	margin: 1.5vw 0;
}

.contact-form li {
	list-style-type: none;
}

#form_cont {
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
}

#form_cont input,
#form_cont textarea {
	background-color: #eee;
	border: none;
	text-align: center;
	width: 100%;
	height: 4vh;
	font-size: 0.9vw;
	text-transform: uppercase;
	color: #393939;
	margin-bottom: 1.3vh;
}

.form-list,
.form-inpt {
	margin-bottom: 2vw;
}

#form_cont textarea {
	height: 4vh;
	resize: none;
	height: 5.5vw;
	padding: 6% 0 6% 0;
}

#form_cont button {
	text-align: center;
	border: 1px solid #ccc;
	background-color: rgba(0,0,0,0);
	color: #ccc;
	font-weight: 100;
	padding: 2% 0;
	font-size: 0.7vw;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 1.5vw;	
	border-radius: 1vw;
	width: 100%;
	margin: 1vw auto;
}

#form_cont button:hover {
	color: #fff;
	border: 1px solid #fff;	
	background-color: rgba(0,0,0,0.2);	
}

.form-inpt p {
	font-weight: 100;
	font-size: 1vw;
	color: #ccc;
	margin-bottom: 0.5vw;
}

.form-list svg {
	height: 1.4vw;
	fill: #ccc;
	margin-right: 0.6vw;
}

.contact-form li{
	color: #eaeaea;
	list-style-type: none;
	justify-content: start;
	align-items: center;
	font-size: 0.8vw;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

#copy {
	color: #ccc;
	font-weight: 100;
	text-align: center;
	margin-bottom: 3vw;
}

#form_cont input:focus{
	background-color: #fff;
}

#form_cont textarea:focus{
	background-color: #fff;
}

.fixedNav {
	position: fixed;
	top: 0;
	opacity: 0.8;
	background-color: #fff;
	left: 0;
	width: 100%;
	height: 7vh;
	z-index: 10;
	-webkit-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.fixedNav:hover {
	opacity: 1;
}

.fixedNav nav li a {
	color: #000;
	font-size: 1.1vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
@media only screen and (max-device-width: 320px),
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px),{

	#header {
		-webkit-flex-flow: column-reverse;
		-moz-flex-flow: column-reverse;
		-ms-flex-flow: column-reverse;
		-o-flex-flow: column-reverse;
		flex-flow: column-reverse;
	}
	.top_header {
		-webkit-flex-flow: column-reverse;
		-moz-flex-flow: column-reverse;
		-ms-flex-flow: column-reverse;
		-o-flex-flow: column-reverse;
		flex-flow: column-reverse;
		position: relative;
		top: 20vw;	
	}

	#call_order {
		font-weight: 300;
		font-size: 3vw;
		line-height: 1.3;
	}

	#bot_header{
		display: none;
	}
	
	.media-wrap {
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
		-ms-flex-flow: column;
		-o-flex-flow: column;
		flex-flow: column;
	}
	.service-item{
		width: 80%;
		margin-bottom: 10vw;
	}

	#about {
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
		-ms-flex-flow: column;
		-o-flex-flow: column;
		flex-flow: column;
	}

	.left_about {
		height: 47vw;
		background-color: #36424e;
		width: 100%; 
		transform: skew(0deg,0deg); 
		z-index: -1;
		left: 0vw;
	}
	
	.right_about_wrap {
		width: 88%;
	}	
	
	.right_about {
		width: 100%;
	}

	.about__h2_absolute {
		top: -1%;
	}

	.wrap-person {
		width: 40vw;
		height: 40vw;
		top: 14.5vw;
		left: 30vw;
	}
	
	.work-item {
		width: 100%;
		margin-bottom: 2vw;
	}

	.filter_div ul {
		margin: 5vw auto;
		font-size: 3.5vw;
		justify-content: space-between;
	}

	.work-item-cont {
		font-size: 5vw;
		line-height: 1.5;
	}

	.work-item-cont a {
		padding: 2vw 4vw;
	}

	.contact-wrap-map {
		display: none;
	}

	.contact-form {
		width: 80%;
	}

	.contact-form h4 {
		font-size: 5.45vw;
		margin: 4.5vw 0;
	}

	.form-list ul {
		flex-flow: column;
	}

	.form-list svg {
		height: 5vw;
		margin-right: 3vw;
	}

	.form-list ul li {
		text-align: center;
		font-size: 3.5vw;
		font-weight: 100;
		line-height: 1.5;
		margin-bottom: 2vw;
	}

	h2,
	#about h2 {
		font-size: 5.45vw;
		margin: 4.5vw 0 11vw;
	}

	.form-inpt p {
		font-size: 5vw;
		margin-bottom: 3.5vw;
	}

	#form_cont input, #form_cont textarea,
	#form_cont button{
		font-size: 2.5vw;
	}
	
	.about_list{
		margin-bottom: 7vw;
	}

	.about_list h4 {
		text-align: center;
		font-size: 1.4vw;
		margin: 12vw 0 1vw;
	}

	.about_list	{
		font-size: 2.5vw;
		line-height: 1.3;
	}

	.about_list p {
		font-size: 1.45vw;
		font-weight: 100;
		text-align: center;
	}

	#service div {
		width: 100vw;
	}

	.item-descr {
		padding: 2vw 5vw;
	}

	.modal-box-form{
		width: 80vw;
	}

	.form-inpt p{
		font-size: 3vw;
	}

	.wrap-person{
		background-position: -9vw 0vw;
	}

	.modal-box-content {
		width: 86vw;
		font-size: 2vw;
		font-weight: 100;
		line-height: 1.4;
	}

}





















































































































































































































































































































































































